---
import Layout from '../../layouts/Base.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title text-xl font-bold">关于我们</h1>
	<p class="text-lg font-semibold mb-3">
		快速搭建静态网站
	</p>
	<p>
		<li  class="ml-10">在如今的数字时代，拥有一个高效、美观的网站对于个人和企业来说至关重要。</li>
		<li  class="ml-10">静态网站因其加载速度快、维护简单、成本低等优点，成为了很多人的首选。</li>
		<li  class="ml-10">本文将介绍如何使用框架和主题快速搭建一个静态网站，并提供一些相关材料和资源。</li>
	</p>

	<p class="text-lg font-semibold mb-3 mt-5">
		建站思路方法
	</p>
	
	<ul class="list-inside list-none ">
		
		<li  class="ml-7">
		1. 选择合适的框架，使用框架可以大大简化网站的搭建过程。本站会介绍一些流行的静态网站生成器。
		</li>
		<li  class="ml-7">
		2. 选择和应用主题，选择一个合适的主题可以让你的网站快速拥有专业的外观。大多数静态网站生成器都有丰富的主题库。
		</li>
		<li  class="ml-7">
		3. 搭建步骤及部署网站会专门写博文介绍
		</li>
		<li  class="ml-7">
		4. 本站止在做技术导航和相关材料介绍
		</li>
		<p class="mt-2">
			通过以上步骤和资源，你可以快速搭建一个高效、美观的静态网站。如果你有任何问题或需要进一步的帮助，请随时联系我！
		</p>
	</ul>
	<p class="mt-4 mb-10">
		Thanks!
	</p>
</Layout>

