---
import Layout from '../layouts/Base.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title text-xl font-bold">About us</h1>
	<p class="text-lg font-semibold mb-3">
	Quickly build a static website
	</p>
	<p>
	<li class="ml-10">In today's digital age, having an efficient and beautiful website is essential for individuals and businesses. </li>
	<li class="ml-10">Static websites have become the first choice for many people due to their fast loading speed, simple maintenance and low cost. </li>
	<li class="ml-10">This article will introduce how to quickly build a static website using frameworks and themes, and provide some related materials and resources. </li>
	</p>

	<p class="text-lg font-semibold mb-3 mt-5">
	Website building ideas and methods
	</p>

	<ul class="list-inside list-none ">

	<li class="ml-7">
	1. Choose a suitable framework. Using a framework can greatly simplify the process of building a website. This site will introduce some popular static website generators.
	</li>
	<li class="ml-7">
	2. Select and apply themes. Choosing a suitable theme can quickly give your website a professional look. Most static website generators have a rich theme library.
	</li>
	<li class="ml-7">
	3. The steps for building and deploying the website will be specially written in a blog post
	</li>
	<li class="ml-7">
	4. This site only provides technical navigation and related materials
	</li>
	<p class="mt-2">
	With the above steps and resources, you can quickly build an efficient and beautiful static website. If you have any questions or need further help, please feel free to contact me!
	</p>
	</ul>
	<p class="mt-4 mb-10">
		Thanks!
	</p>
</Layout>

