---
import '../styles/langSelect.scss';
import { KNOWN_LANGUAGES } from '../i18n/languages';

const lang = "en";
---

<div class="language-select-wrapper">
  <select class="language-slt" value={lang} lanage-select>
    {
      Object.entries(KNOWN_LANGUAGES).map(([key, value]) => {
        return (
          <option value={value}>{key}</option>
        )
      })
    }
  </select>
</div>

<script>
    const heartButton = document.querySelectorAll('[lanage-select]');
    const langPathRegex = /\/([a-z]{2}-?[A-Z]{0,2})\//
    heartButton.forEach((button) => {
      button.addEventListener('change', (e) => {
        const newLang = (e.target as HTMLInputElement).value
        let actualDest = window.location.pathname.replace(langPathRegex, '/')
        if (actualDest == '/') actualDest = `/`
        window.location.pathname = '/' + newLang + actualDest
      });
    });
</script>
