---
import '../styles/langSelect.scss'
import { KNOWN_LANGUAGES, langPathRegex } from '../i18n/languages'

const lang = 'en'
---

<div className="language-select-wrapper">

  <select
    className="language-select"
    value={lang}
    onChange={(e) => {
      const newLang = (e.target as HTMLInputElement).value
      let actualDest = window.location.pathname.replace(langPathRegex, '/')
      if (actualDest == '/') actualDest = `/introduction`
      window.location.pathname = '/' + newLang + actualDest
    }}
  >
    {Object.entries(KNOWN_LANGUAGES).map(([key, value]) => {
      return (
        <option value={value} key={value}>
          {key}
        </option>
      )
    })}
  </select>
</div>

